body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: block;
}

#prompt {
    width: 248.39px;
    margin-bottom: 5px;
}
  
.submit-button {
    width: 256px;
    margin-bottom: 10px;
    background-color: #535455;
    color: #ffffff;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #272727;
}

.image {
    min-height: 256px;
    display: flex;
    justify-content: center;
}