{% extends "index.html" %}

{% block main %}
<!-- If user submitted their prompt -->
{% if finished and prompt %}

<h1>{{prompt}}...<br><span style="color: #76ABAE;">...{{ finished }}</span> </h1>
<!-- If not -->
{% else %}
<form action="/finish-sentence" method="post">
  <div class="mb-3">
    <label class="left">Enter your prompt</label>
    <input class="form-control" type="text" class="form-control" name="prompt">
  </div>

  <div class="mb-3">
    <label class="left">Set the temperature</label>
    <input class="form-control" type="number" class="form-control" name="temperature" min="1" max="99">
  </div>

  <div class="d-grid gap-2">
    <input class="btn btn-outline-dark" type="submit">
  </div>
</form>
{% endif %}

{% endblock %} 
