{% extends "index.html" %}

{% block main %}
<!-- If user submitted their prompt -->
{% if url and prompt %}

<h2>An image of {{ prompt }}</h2>

<div class="col-auto">
	<img src="{{ url }}" class="img-fluid" style="height: 75%; width: 75%;">
</div>
<!-- If not -->
{% else %}
<form action="/generate-image" method="post">
  <div class="col-auto">
    <input type="text" class="form-control" name="prompt" placeholder="Enter your prompt">

		<div class="d-grid gap-2" style="margin-top: 5px;">
			<button type="submit" class="btn btn-outline-dark mb-2">Generate</button>
		</div>
  </div>
</form>
{% endif %}

{% endblock %}
