<!-- MAIN PAGE -->
{% extends "index.html" %}

{% block title %}
GenerativeAI
{% endblock %}

{% block main %}
<h1>GenerativeAI</h1>
<p class="lead">This website showcases the power of generative AI for creating images and completing sentences based on user input. It features a simple, user-friendly design, making advanced AI accessible for creative and practical use. The platform highlights the potential of AI in transforming ideas into engaging visual and textual content.</p>
<p class="lead">
	<a href="/generate-image" class="btn btn-dark">Generate Image</a>
	<a href="/finish-sentence" class="btn btn-outline-dark">Finish Sentence</a>
</p>
{% endblock %}
